{% extends 'common/index.html' %}
{% block content %}

    <div class="messages-wrapper">

        <div class="all-messages">
            <div class="messages">
                {% for user_name in messages_by_user %}
                    <div class="message {% if message.sender == current_user %} received {% endif %}">
{#                        <p class="sender">From: {{ message.sender }}</p>#}
{#                        <p class="recipient">To: {{ message.recipient }}</p>#}
{#                        <p class="content">Message: {{ message.content }}</p>#}
                          <span><a href="#">{{ user_name }}</a> </span>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="pagination">
        <div>
            {% if messages.has_previous %}
                <a href="?page={{ messages.previous_page_number }}">Previous</a>
            {% else %}
                <a></a>
        {% endif %}
        </div>

        <div>
            {% if messages.paginator.num_pages > 1 %}
                <span class="current-page">{{ messages.number }}/{{ messages.paginator.num_pages }}</span>
            {% endif %}
        </div>

        <div>
            {% if messages.has_next %}
                <a href="?page={{ messages.next_page_number }}">Next</a>
            {% else %}
                <a></a>
            {% endif %}
        </div>
    </div>

{% endblock %}