{% extends 'common/index.html' %}
{% block content %}

    <div class="messages-wrapper">

        <div class="all-messages">
            <div class="messages">
                {% for user_name in grouped_messages %}
                    <div class="message">
                         <p>Messages with:</p>
                         <span><a href="{% url 'user messages' user_name %}">{{ user_name }}</a></span>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="pagination">
        <div>
            {% if messages.has_previous %}
                <a href="?page={{ messages.previous_page_number }}">Previous</a>
            {% else %}
                <a></a>
        {% endif %}
        </div>

        <div>
            {% if messages.paginator.num_pages > 1 %}
                <span class="current-page">{{ messages.number }}/{{ messages.paginator.num_pages }}</span>
            {% endif %}
        </div>

        <div>
            {% if messages.has_next %}
                <a href="?page={{ messages.next_page_number }}">Next</a>
            {% else %}
                <a></a>
            {% endif %}
        </div>
    </div>

{% endblock %}