{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <div class="messages-wrapper">

        <div class="all-messages">
            <span><a href="{% url 'messages' %}">Back to Messages</a></span>
            <div class="messages scrollable">

                    <form class="message sent form" method="POST">
                        <!-- Form for SendMessage -->
                        {{ form }}
                        {% csrf_token %}
                        <!-- Button to Send Message -->
                        <button type="submit" class="item-button send-message">
                            Send
                            <i class="fa-solid fa-envelope"></i>
                        </button>
                    </form>
                {% for message in messages %}
                    <div class="message {% if message.sender == current_user %} sent {% else %} received {% endif %}">
                        <p id="{{ message.id }}">
                            {% if message.sender == current_user %}
                                <a class="edit-message" href="#"><i class="fa-solid fa-pencil"></i></a>
                                <a class="delete-message" href="#"><i class="fa-solid fa-trash"></i></a>
                                 {% if message.read %}
                                     <i class="fa-solid fa-circle-check"></i>
                                 {% else %}
                                     <i class="fa-regular fa-circle-check"></i>
                                 {% endif %}
                            {% endif %}
                        </p>
                        <p class="message-content">{{ message.content }}</p>
                        <time>{{ message.timestamp }}</time>
                    </div>
                {% endfor %}
            </div>
        </div>
            <div class="hero-card">
            <div class="profile-picture">
                {% if other_user.hero_type == 'Vampire' %}
                    {% if other_user.userprofile.gender == 'Female' %}
                        <img class="profile-picture" src="{% static 'pictures/female-vampire.webp' %}" alt="female vampire">
                    {% else %}
                        <img class="profile-picture" src="{% static 'pictures/male-vampire.jpg' %}" alt="male vampire">
                    {% endif %}
                {% else %}
                    {% if other_user.userprofile.gender == 'Female' %}
                        <img class="profile-picture" src="{% static 'pictures/female-werewolf.png' %}" alt=" female werewolf">
                    {% else %}
                        <img class="profile-picture" src="{% static 'pictures/male-werewolf.jpg' %}" alt="male werewolf">
                    {% endif %}
                {% endif %}
            </div>
            <div class="message-username">
                <a href="{% url 'details user' other_user %}">
                    {{ other_user }}
                </a>
            </div>
        </div>
    </div>
    <script src="{% static 'js/scroll-top.js' %}"></script>
    <script src="{% static 'js/editMessage.js' %}"></script>
    <script src="{% static 'js/deleteMessage.js' %}"></script>

{% endblock %}