{% extends 'common/index.html' %}
{% block content %}

    <div class="all-messages">
        <div class="sent-messages">
            {% for message in sent_messages %}
                <div class="message">
                    <p class="user">{{ message.recepient }}</p>
                    <p class="content">{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="received-messages">
            {% for message in received_messages %}
                <div class="message">
                    <p class="user">{{ message.sender }}</p>
                    <p class="content">{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}