.hero-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.choose-opponent {
    height: 70%;
}

.hero-card {
    width: 17.5rem;
    height: fit-content;
    min-height: 25rem;
    border: 4px solid black;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    overflow: hidden;
    box-shadow:
        0 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.5),
        0 0 1.25rem 0.625rem rgba(128, 128, 128, 0.3),
        0 0 1.875rem 0.9375rem rgba(192, 192, 192, 0.2);
    border-radius: 2.5rem 0 1.875rem 0;
}

.profile-picture {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 20rem;
    max-height: 20rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.profile-picture-opponent img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-bottom: 2px solid black;
    border-radius: 0 0 40px 0;
}

.hero-card ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero-card ul li {
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px var(--light-skin);
}

.hero-card a {
    text-decoration: none;
    color: red;
    font-weight: bolder;
    text-shadow: 2px 2px 4px var(--light-skin);
}

.hero-card button {
    color: white;
    background-color: black;
}

.hero-level {
    font-size: 1.8rem;
}