body {
    background: url("../pictures/maxresdefault.jpg") no-repeat;
    background-size: cover;
}

.home-buttons {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-20%, -50%);
    text-align: center;
}

.home-buttons a {
    text-decoration: none;
    color: white;
    font-size: 34px;
}

.home-buttons p{
    margin-bottom: 14px;
}

.hello-user {
    margin-left: 2%;
    color: red;
}

.logout-button {
    color: red;
    text-decoration: none;
    font-size: 22px;
}

.user-options {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.user-options p {
    margin-right: 2%;
}