@import url(https://fonts.googleapis.com/css2?family=Aladin);
@font-face {
  font-family: 'Cloister Black';
  src: url('/static/fonts/CloisterBlack.ttf') format('truetype');
}

/*
"Aladin", cursive
"Cloister Black", sans-serif
*/

html {
    font-family: "Aladin", cursive;
    text-shadow: 2px 2px 4px #f3efec;
}

body {
    background: url("../pictures/gabriel-lorenzo-vampire0001.jpg") no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-shadow: 1px 1px 2px #390000;
    letter-spacing: 0.1em;
    height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the transparency with the last value */
    backdrop-filter: blur(1px); /* Adjust the blur radius as desired */
    z-index: -1;
}

nav {
    position: relative;
    height: 3rem;
    margin-top: 0.5rem;

}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(to right, #f3efec, black, #f3efec);
}


.home-buttons {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    text-align: center;
}

.home-buttons a {
    text-decoration: none;
    color: white;
    font-size: 34px;
}

.home-buttons p{
    margin-bottom: 14px;
}

.home {
    text-decoration: none;
    color: red;
    font-size: 2em;
}

.home a {
    text-decoration: none;
    color: red;
    text-shadow: 2px 2px 4px black;
}

.hello-user {
    margin-left: 2%;
    color: red;
}

.hello-user a {
    text-decoration: none;
    color: red;
}

.fight-button a {
    text-decoration: none;
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 20px;
    text-shadow: 2px 2px 5px #f3efec;
}

.message-button a {
    text-decoration: none;
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 20px;
    text-shadow: 2px 2px 5px #f3efec;
}

.house-button a {
    text-decoration: none;
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 20px;
    text-shadow: 2px 2px 5px #f3efec;
}

.logout-button {
    color: red;
    text-decoration: none;
    font-size: 22px;
}

.username {
    /*position: absolute;*/
    /*left: 4%;*/
    /*top: 50%;*/
    color: red;
    font-size: 26px;
}
/*colors :
light-skin: #f3efec
lipstick: #390000
*/

.profile-name {
    color: #f3efec;
    font-size: 2em;
}

.main-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.market-wrapper {
    width: calc(33.33% - 20px);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.market-image {
    width: 20rem;
    height: 12rem;
    border: 6px solid black;
    object-fit: fill;
}

.market-wrapper a {
    text-decoration: none;
    color: #f3efec;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px black;
}

/* marketplace */


.market-image-inner {
    width: 20rem;
    height: 14rem;
    /*margin-top: 10%;*/
    /*margin-left: 15%;*/
    border: 6px solid black;
    object-fit: fill;
}

.main-options-inner {
    display: flex;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.market-wrapper-inner {
    width: 30%;
    height: 50%;
    /*margin-top: 3rem;*/
    /*margin-left: 10%;*/
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    justify-content: center;
    align-items: center;
    /*flex-basis: 33.33%;*/
    /*flex-grow: 1;*/
}

.market-wrapper-inner a {
    text-decoration: none;
    color: #f3efec;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px black;
}

.go-back {
    text-decoration: none;
    color: red;
    font-size: 1.2rem;
    margin-left: 1rem;
}