.messages-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    height: 90%;
}

.messages-with {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.messages-with .message:first-of-type {
    margin-bottom: 1rem;
}

.message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 4px solid var(--light-skin);
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 1rem;
    width: 40rem;
	background-color: var(--lipstick);
	color: var(--light-skin);
}

.scrollable {
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    overflow-y: auto; /* Show the vertical scrollbar when needed */
    height: 75vh;
    display: flex;
    flex-direction: column-reverse;
    box-shadow:
        0 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.5),
        0 0 1.25rem 0.625rem rgba(128, 128, 128, 0.3),
        0 0 1.875rem 0.9375rem rgba(192, 192, 192, 0.2);
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar track */
}

/* Style the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Add rounded corners to the scrollbar thumb */
}


.message.received {
    border-radius: 20px 20px 0 20px;
    max-width: 70%;
    margin-left: auto;
}

.message.received p {
    display: flex;
    justify-content: flex-end;
}

.fa-circle-check {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.6em;
}

.edit-message,
.delete-message {
    position: absolute;
    color: var(--light-skin);
    margin: 0;
}

.edit-message {
    bottom: -5px;
    left: 5px;
    padding: 0;
}

.delete-message {
    bottom: -5px;
    left: 30px;
    padding: 0;
}

.fa-pencil,
.fa-trash {
    font-size: 1rem;
    color: var(--light-skin);
}

.message.sent {
    border-radius: 20px 20px 20px 0;
    max-width: 70%;
    margin-right: auto;
}

.fa-envelope {
    margin-left: 8px;
}

.message.sent.form {
    border: none;
    width: calc(60% - 8px);
	color: var(--light-skin);
    margin: 0 0 2px 0;
    padding: 0;
    position: fixed;
    z-index: 1;
}

.message:first-of-type {
    margin-bottom: 150px;
}

.message p {
    text-decoration: none;
    font-size: 1.5em;
}

.message a {
    text-decoration: none;
    font-size: 1.5rem;
    color: red;
}

.message .message-content {
    font-size: 2rem;
    white-space: normal;
    width: 95%;
}

.all-messages {
    width: 60%;
}

.all-messages span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.all-messages span a {
    text-decoration: none;
    color: red;
    font-size: 2em;
}

.unread {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--light-skin);
}

.message-username a {
    font-size: 1.4rem;
    color: red;
    text-shadow: none;
}

.message.sent.form textarea {
    margin: 0 0 -2px 0;
}

.send-message {
    position: absolute;
    bottom: 0;
    right: 0;
}