{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <div class="heroes-card-wrapper choose-opponent">
    {% if not can_fight %}
        <p>Your energy is too low! Better come later!</p>
    {% else %}
        {% for opponent in opponents %}
        <div class="heroes-card">
            <div class="profile-picture-opponent">
                {% if opponent.user.hero_type == 'Vampire' %}
                    {% if opponent.gender == 'Female' %}
                        <img src="{% static 'pictures/female-vampire.webp' %}" alt="female vampire">
                    {% else %}
                        <img src="{% static 'pictures/male-vampire.jpg' %}" alt="male vampire">
                    {% endif %}
                {% elif opponent.user.hero_type == 'Werewolf' %}
                    {% if opponent.gender == 'Female' %}
                        <img src="{% static 'pictures/female-werewolf.png' %}" alt="female werewolf">
                    {% else %}
                        <img src="{% static 'pictures/male-werewolf.jpg' %}" alt="male werewolf">
                    {% endif %}
                {% endif %}
            </div>
            <h1><a href="{% url 'details user' opponent.user.username %}">{{ opponent.user.username }}</a></h1>
            <ul role="list">
                <li>Power: {{ opponent.power }}</li>
                <li>Defence: {{ opponent.defence }}</li>
                <li>Speed: {{ opponent.speed }}</li>
                <li><button><a href="{% url 'fight' opponent.id %}">Attack</a></button></li>
            </ul>
        </div>
        {% endfor %}
    {% endif %}
    </div>


    <!-- Display pagination links -->
    <div class="pagination">
        <div>
            {% if opponents.has_previous %}
                <a href="?page={{ opponents.previous_page_number }}">Previous</a>
            {% else %}
                <a></a>
        {% endif %}
        </div>

        <div>
            {% if opponents.paginator.num_pages > 1 %}
                <span class="current-page">{{ opponents.number }}/{{ opponents.paginator.num_pages }}</span>
            {% endif %}
        </div>

        <div>
            {% if opponents.has_next %}
                <a href="?page={{ opponents.next_page_number }}">Next</a>
            {% else %}
                <a></a>
            {% endif %}
        </div>
    </div>


{% endblock %}