{% extends 'common/index.html' %}
{% block content %}

    <table class="opponents">
        {% for opponent in opponents %}
            <tr>
            <td><a href="{% url 'details user' opponent.user.username %}">{{ opponent.user }}</a></td>
            <td>Power: {{ opponent.power }}</td>
            <td>Defence: {{ opponent.defence }}</td>
            <td>Speed: {{ opponent.speed }}</td>
            <td><a href="{% url 'fight' opponent.pk %}">Attack</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}