{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <div class="heroes-card-wrapper">
    {% for opponent in opponents %}
        <div class="heroes-card">
            <div class="profile-picture-opponent">
                {% if opponent.user.hero_type == 'Vampire' %}
                    {% if opponent.gender == 'Female' %}
                        <img src="{% static 'pictures/vampire-7749188_1280.webp' %}">
                    {% else %}
                        <img src="{% static 'pictures/interesting-fact-about-vampires.jpg' %}">
                    {% endif %}
                {% elif opponent.user.hero_type == 'Werewolf' %}
                    {% if opponent.gender == 'Female' %}
                        <img src="{% static 'pictures/d73fdd1b-01ec-4824-8c77-4ed1bb904c7c.webp' %}">
                    {% else %}
                        <img src="{% static 'pictures/Warewolf.webp' %}">
                    {% endif %}
                {% endif %}
            </div>
            <h1><a href="{% url 'details user' opponent.user.username %}">{{ opponent.user.username }}</a></h1>
            <ul role="list">
                <li>Power: {{ opponent.power }}</li>
                <li>Defence: {{ opponent.defence }}</li>
                <li>Speed: {{ opponent.speed }}</li>
                <li><button><a href="{% url 'fight' opponent.id %}">Attack</a></button></li>
            </ul>
        </div>
        {% endfor %}
    </div>


<!-- Display pagination links -->
<div class="pagination">
    {% if opponents.has_previous %}
        <a href="?page={{ opponents.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current-page">{{ opponents.number }}</span>

    {% if opponents.has_next %}
        <a href="?page={{ opponents.next_page_number }}">Next</a>
    {% endif %}
</div>


{% endblock %}