{% extends 'common/index.html' %}
{% block content %}

    <section class="delete-user">
        <h1>Are you sure you want to delete your profile?</h1>
        <form method="post">
        {% csrf_token %}
            <div class="delete-user-buttons">
                <button class="item-button" type="submit">
                    <a href="{% url 'delete user' current_user.username %}">Yes</a>
                </button>
                <button class="item-button" type="submit">
                    <a href="{% url 'details user' current_user.username %}">No</a>
                </button>
            </div>
        </form>
    </section>

{% endblock %}