{% extends 'common/index.html' %}
{% load static %}
{% load custom_filter lowercase_filter %}
{% block content %}

    <section class="details-section">
        <div class="hero-card">
            {% if current_user != user %}
                <div class="username">{{ user }}</div>
            {% endif %}
            <div class="hero-level">Level: {{ profile.level }}</div>
            <div class="profile-picture">
                {% if user.hero_type == 'Vampire' %}
                    {% if profile.gender == 'Female' %}
                        <img class="profile-picture" src="{% static 'pictures/female-vampire.webp' %}" alt="female vampire">
                    {% else %}
                        <img class="profile-picture" src="{% static 'pictures/male-vampire.jpg' %}" alt="male vampire">
                    {% endif %}
                {% else %}
                    {% if profile.gender == 'Female' %}
                        <img class="profile-picture" src="{% static 'pictures/female-werewolf.png' %}" alt=" female werewolf">
                    {% else %}
                        <img class="profile-picture" src="{% static 'pictures/male-werewolf.jpg' %}" alt="male werewolf">
                    {% endif %}
                {% endif %}
{#                {% if current_user != user %}#}
{#                    <div class="username">{{ user }}</div>#}
{#                {% endif %}#}
            </div>
            {% if current_user == user %}
                <form method="post" class="change-genre">
                    <button type="submit">Male/Female</button>
                    {% csrf_token %}
                </form>
            {% else %}
                 <form>
                    <button>
                        <a href="{% url 'create message' user.username %}"
                           style="color: white; text-shadow: none">Send message
                        </a>
                    </button>
                 </form>
            {% endif %}
        </div>
        <div class="details">
            <div class="profile-details">
            <ul class="user-details" role="list">
{#                <li><span class="profile-name">{{ current_user }}</span> </li>#}
                <li>XP: {{ profile.xp }} / {{ profile.max_xp_for_level }}</li>
{#                <li>Level: {{ profile.level }}</li>#}
                {% if current_user == user %}
                    <li>Health: {{ profile.health }} / {{ profile.max_health_for_level }}</li>
                    <li class="hero-gold">Gold: {{ profile.gold }}</li>
                {% endif %}
                <li>Wins: {{ profile.wins }}</li>
                <li>Losses: {{ profile.losses }}</li>
            </ul>
        </div>
            <div class="upgrade">
                <div class="profile-upgrade">
            <table>
                <tr>
                    <td>Power:</td>
                    <td>{{ profile.power }}</td>
                    {% if current_user == user %}
                        <td>
                            <a href="{% url 'upgrade power' %}" class="upgrade-link" data-attribute="power" data-cost="10">
                                <i class="fa-solid fa-square-plus"></i>
                            </a>
                        </td>
                        <td class="cost">
                            Cost: {{ profile.power|calculate_cost }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Defence:</td>
                    <td>{{ profile.defence }}</td>
                    {% if current_user == user %}
                        <td>
                            <a href="{% url 'upgrade defence' %}" class="upgrade-link" data-attribute="defense" data-cost="10">
                                <i class="fa-solid fa-square-plus"></i>
                            </a>
                        </td>
                        <td class="cost">
                            Cost: {{ profile.defence|calculate_cost }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Speed:</td>
                    <td>{{ profile.speed }}</td>
                    {% if current_user == user %}
                        <td>
                            <a href="{% url 'upgrade speed' %}" class="upgrade-link" data-attribute="speed" data-cost="10">
                                <i class="fa-solid fa-square-plus"></i>
                            </a>
                        </td>
                        <td class="cost">
                            Cost: {{ profile.speed|calculate_cost }}
                        </td>
                    {% endif %}
                </tr>
            </table>
        </div>
{#            {% if current_user == user %}#}
{#                <div class="fight-button">#}
{#                    <a href="{% url 'choose opponent' %}">Fight</a>#}
{#                </div>#}
{#            {% endif %}#}
            </div>
            <div class="user-items">
                {% if current_user == user %}
                    <div class="item sword">
                        {% if user.userprofile.sword %}
                            <p>{{ user.userprofile.sword }}</p>
{#                            <img src="{{ user.userprofile.boots.image.url }}" alt="item image">#}
                            <p>Required level: {{ user.userprofile.sword.required_level }}</p>
                            <p>Power: {{ user.userprofile.sword.damage }}</p>
                            <p>Sell price: {{ user.userprofile.sword.sell_price }}</p>
                            <form method="post"
                                  action="{% url 'sell item' item_type=user.userprofile.sword|model_name_lower item_id=user.userprofile.sword.pk %}">
                                {% csrf_token %}
                                <button class="item-button" type="submit">Sell</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="item shield">
                        {% if user.userprofile.shield %}
                            <p>{{ user.userprofile.shield }}</p>
{#                            <img src="{{ user.userprofile.boots.image.url }}" alt="item image">#}
                            <p>Required level: {{ user.userprofile.shield.required_level }}</p>
                            <p>Defence: {{ user.userprofile.shield.defence }}</p>
                            <p>Sell price: {{ user.userprofile.shield.sell_price }}</p>
                            <form method="post"
                                  action="{% url 'sell item' item_type=user.userprofile.shield|model_name_lower item_id=user.userprofile.shield.pk %}">
                                {% csrf_token %}
                                <button class="item-button" type="submit">Sell</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="item boots">
                        {% if user.userprofile.boots %}
                            <p>{{ user.userprofile.boots }}</p>
{#                            <img src="{{ user.userprofile.boots.image.url }}" alt="item image">#}
                            <p>Required level: {{ user.userprofile.boots.required_level }}</p>
                            <p>Speed: {{ user.userprofile.boots.speed_bonus }}</p>
                            <p>Sell price: {{ user.userprofile.boots.sell_price }}</p>
                            <form method="post"
                                  action="{% url 'sell item' item_type=user.userprofile.boots|model_name_lower item_id=user.userprofile.boots.pk %}">
                                {% csrf_token %}
                                <button class="item-button" type="submit">Sell</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script src="{% static 'js/priceButtonColor.js' %}"></script>

{% endblock %}