{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <div class="fight-results">
        <div class="heroes-card-wrapper">
            <div class="heroes-card">
                <div class="profile-picture-opponent">
                    {% if current_user.hero_type == 'Vampire' %}
                        {% if user.gender == 'Female' %}
                            <img src="{% static 'pictures/female-vampire.webp' %}" alt="female vampire">
                        {% else %}
                            <img src="{% static 'pictures/male-vampire.jpg' %}" alt="male vampire">
                        {% endif %}
                    {% elif current_user.hero_type == 'Werewolf' %}
                        {% if user.gender == 'Female' %}
                            <img src="{% static 'pictures/female-werewolf.webp' %}" alt="female werewolf">
                        {% else %}
                            <img src="{% static 'pictures/male-werewolf.jpg' %}" alt="male werewolf">
                        {% endif %}
                    {% endif %}
                </div>
                <h1><a href="{% url 'details user' current_user.username %}">{{ current_user.username }}</a></h1>
                <ul role="list">
                    <li>Power: {{ user.power }}</li>
                    <li>Defence: {{ user.defence }}</li>
                    <li>Speed: {{ user.speed }}</li>
                    {% if winner == user %}
                        <li>Winner</li>
                    {% endif %}
                </ul>
            </div>
            <div class="heroes-card">
                <div class="profile-picture-opponent">
                    {% if opponent.user.hero_type == 'Vampire' %}
                        {% if opponent.gender == 'Female' %}
                            <img src="{% static 'pictures/female-vampire.webp' %}" alt="female vampire">
                        {% else %}
                            <img src="{% static 'pictures/male-vampire.jpg' %}" alt="male vampire">
                        {% endif %}
                    {% elif opponent.user.hero_type == 'Werewolf' %}
                        {% if opponent.gender == 'Female' %}
                            <img src="{% static 'pictures/female-werewolf.webp' %}" alt="female werewolf">
                        {% else %}
                            <img src="{% static 'pictures/male-werewolf.jpg' %}" alt="male werewolf">
                        {% endif %}
                    {% endif %}
                </div>
                <h1><a href="{% url 'details user' opponent.user.username %}">{{ opponent.user.username }}</a></h1>
                <ul role="list">
                    <li>Power: {{ opponent.power }}</li>
                    <li>Defence: {{ opponent.defence }}</li>
                    <li>Speed: {{ opponent.speed }}</li>
                    {% if winner == opponent %}
                        <li>Winner</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
