amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
billiard==4.1.0
build==0.10.0
CacheControl==0.12.14
celery==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cleo==2.0.1
click==8.1.5
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
crashtest==0.4.1
cryptography==41.0.2
distlib==0.3.7
Django==4.2.3
django-cors-headers==4.2.0
django-redis==5.3.0
djangorestframework==3.14.0
dulwich==0.21.5
filelock==3.12.2
flower==2.0.0
html5lib==1.1
humanize==4.7.0
idna==3.4
importlib-metadata==6.7.0
installer==0.7.0
jaraco.classes==3.2.3
jeepney==0.8.0
jsonschema==4.17.3
keyring==23.13.1
kombu==5.3.1
lockfile==0.12.2
more-itertools==9.1.0
msgpack==1.0.5
packaging==23.1
pexpect==4.8.0
Pillow==10.0.0
pipenv==2023.7.23
pkginfo==1.9.6
platformdirs==3.10.0
poetry==1.5.1
poetry-core==1.6.1
poetry-plugin-export==1.4.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pycparser==2.21
pyproject_hooks==1.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
rapidfuzz==2.15.1
redis==4.6.0
requests==2.31.0
requests-toolbelt==1.0.0
SecretStorage==3.3.3
shellingham==1.5.0.post1
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.11.8
tornado==6.3.2
trove-classifiers==2023.5.24
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
vine==5.0.0
virtualenv==20.24.2
virtualenv-clone==0.5.7
wcwidth==0.2.6
webencodings==0.5.1
zipp==3.15.0
