@media screen and (max-width: 1100px) {

    a {
        font-size: 1.8rem !important;
    }

    .items-inner-wrapper h2 {
        font-size: 1.8rem;
    }

    .items-inner-wrapper p {
        font-size: 1.5rem;
    }

    .item-details {
        width: 30%;
    }

    .message .message-content {
        font-size: 1.7rem;
    }

    .details-section {
        flex-wrap: wrap;
    }

    .go-back-wrapper {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 900px) {

    body {
        overflow: scroll;
        background-attachment: fixed;
    }

    .market-wrapper,
    .market-wrapper-inner {
        width: calc(50% - 20px);
        height: auto;
    }

    a {
        font-size: 1.5rem !important;
    }

    .items-inner-wrapper h2 {
        font-size: 1.6rem;
    }

    .items-inner-wrapper p {
        font-size: 0.8rem;
    }

    .items img {
        height: 10rem;
    }

    .messages-with .message {
        width: 80%;
    }

    .message .message-content {
        font-size: 1.5rem;
    }

    .message time {
        font-size: 0.5rem;
    }

    .sent time {
        margin-bottom: 25px;
    }

    .user-details li {
        font-size: 1.5rem;
    }

    .profile-upgrade td {
        font-size: 1.4rem;
    }

    .profile-upgrade td .cost {
        font-size: 0.6rem;
    }

    .user-items {
        font-size: 1.4rem;
    }

}

@media screen and (max-width: 650px){
    .user-options i {
        display: none;
    }
}

@media screen and (min-width: 1700px){
    .user-details li {
        font-size: 2.5rem;
    }

    .profile-upgrade td {
        font-size: 2.5rem;
    }

    .profile-upgrade td.cost {
        font-size: 1.6rem;
    }

    .user-items {
        font-size: 2.5rem;
    }

    .hero-card {
        width: 20rem;
        margin-top: 1rem;
    }

    .profile-picture {
        min-height: 25rem;
    }

    .user-items .item-button {
        font-size: 2rem;
    }

    .ranking-player a {
        font-size: 2.8rem;
    }
}