{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vampires vs Werewolves</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% if not current_user.is_authenticated %}
{#        <style>#}
{#            body {#}
{#                background: black;#}
{#            }#}
{#        </style>#}
    <div class="home-buttons">
        <p><a href="{% url 'register user' %}">Register</a></p>
        <p><a href="{% url 'login user' %}">Login</a></p>
    </div>
    {% include 'common/landing-page.html' %}
    {% else %}
    <header>
        <nav>
            <div class="user-options">
                <h1 class="hello-user">
                    <a href="{% url 'details user' current_user.username %}">
                        {{ current_user }}
                    </a>
                </h1>
                <h1 class="home">
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </h1>
                <p>
                    <a class="logout-button" href="{% url 'logout user' %}">
                         Logout
                         <i class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </p>
            </div>
        </nav>
    </header>
    {% endif %}

    {% block content %}
        {% if current_user.is_authenticated %}

            <div class="main-options">
                <div class="market-wrapper">
                    <a href="{% url 'marketplace' %}">
                        <img class="market-image" src="{% static 'pictures/market.jpg' %}" alt="market">
                    </a>
                    <a href="{% url 'marketplace' %}">Marketplace</a>
                </div>
                <div class="market-wrapper">
                    <a href="{% url 'messages' %}">
                        {% if has_unread_messages %}
                            <i class="fa-solid fa-envelope"></i>
                        {% endif %}
                        <img class="market-image" src="{% static 'pictures/messages.jpg' %}" alt="messages">
                    </a>
                    <a href="{% url 'messages' %}">Messages</a>
                </div>
                <div class="market-wrapper">
                    <a href="{% url 'choose opponent' %}">
                        <img class="market-image" src="{% static 'pictures/fight.jpg' %}" alt="choose opponent">
                    </a>
                    <a href="{% url 'choose opponent' %}">Fight</a>
                </div>
                <div class="market-wrapper">
                    <a href="{% url 'work' %}">
                        <img class="market-image" src="{% static 'pictures/work.jpg' %}" alt="work">
                    </a>
                    <a href="{% url 'work' %}">Work</a>
                </div>
                <div class="market-wrapper">
                    <a href="{% url 'hide user' %}">
                        <img class="market-image" src="{% static 'pictures/hide.webp' %}" alt="hide">
                    </a>
                    <a href="{% url 'hide user' %}">Hide</a>
                </div>
            </div>

        {% endif %}
    {% endblock %}
</body>
</html>