{% extends 'common/index.html' %}
{% load lowercase_filter %}
{% block content %}
    <p class="go-back-wrapper"><a class="go-back" href="{% url 'inventory' %}">Your inventory</a></p>
    <div class="items-wrapper">
        <div class="items">
            {% for item in items %}
                <div class="item-details">
                    <div class="items-inner-wrapper">
                        <h2>{{ item.name }}</h2>
                        <img src="{{ item.image.url }}" alt="item image">
                        {% if not item.required_level %}
                            {% if item.type != 'Health' %}
                                <p class="required-level" id="{{ user_profile.level }}">
                                    Hours active: {{ item.hours_active }}
                                </p>
                                <p class="required-level" id="{{ user_profile.level }}">
                                    Percent{% if item.type != 'Health' %} bonus{% else %} healing{% endif %}
                                    : {{ item.percent_bonus }}
                                </p>
                            {% else %}
                                <p class="required-level">Healing with {{ item.percent_bonus }}%</p>
                                <p class="required-level">of your max health!</p>
                            {% endif %}
                        {% else %}
                            <p class="required-level" id="{{ user_profile.level }}">
                                Required level: {{ item.required_level }}
                            </p>
                            <p class="required-level">
                                {% if item.damage %}
                                    Damage: {{ item.damage }}
                                {% endif %}
                                {% if item.defence %}
                                    Defence: {{ item.defence }}
                                {% endif %}
                                {% if item.speed_bonus %}
                                    Speed: {{ item.speed_bonus }}
                                {% endif %}
                            </p>
                            <p class="item-price" id="{{ user_profile.gold }}">Price: {{ item.price }}</p>
                        {% endif %}

                    </div>
                    {% if item.type %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="item-button" type="submit"><span>Activate</span></button>
                        </form>
                    {% else %}
                        <form method="post"
                              action="{% url 'sell item' item_type=user.userprofile.sword|model_name_lower item_id=user.userprofile.sword.pk %}">
                            {% csrf_token %}
                            <button class="item-button" type="submit"><span>Sell</span></button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        <div>
            {% if items.has_previous %}
                <a href="?page={{ items.previous_page_number }}">Previous</a>
            {% else %}
                <a></a>
        {% endif %}
        </div>

        <div>
            {% if items.paginator.num_pages > 1 %}
                <span class="current-page">{{ items.number }}/{{ items.paginator.num_pages }}</span>
            {% endif %}
        </div>

        <div>
            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}">Next</a>
            {% else %}
                <a></a>
            {% endif %}
        </div>
    </div>

{% endblock %}
