{% load static %}
{% block landing %}
     <div class="carousel-container">
        <div class="carousel">
            <div class="slide">
                <div class="description">
                    <h1>Welcome to the epic battle of "Vampire Vs Werewolves"!</h1>
                    <p>Choose your side and join the eternal struggle between these immortal creatures.
                        In this thrilling multiplayer game, you'll take on the role of a vampire or a werewolf
                        and embark on an unforgettable adventure in a dark and mysterious world.</p>
                    <p>Unleash your supernatural powers and test your strategic skills as you fight for dominance.
                        As a vampire, harness the night's power to mesmerize your enemies and drain their life force.
                        If you're a werewolf, embrace the fury of the full moon,
                        transforming into a formidable beast with unmatched strength and speed.</p>
                    <p>Explore an immersive land teeming with ancient ruins, eerie forests, and haunting castles.
                        Discover hidden treasures and rare artifacts that will enhance your abilities
                        and aid you in your quest for supremacy.</p>
                    <p>The fate of these two mythical races lies in your hands.
                        Will you bring eternal night as a vampire or howl under the moon as a werewolf?
                        The battle for supremacy awaits!</p>
                </div>
            </div>
            <div class="slide">
                <div class="description">
                    <h2>Rules:</h2>
                    <ul role="list">
                        <li>Choose Your Side: At the beginning of the game,
                            players must choose to play as either a vampire or a werewolf.</li>
                        <li>Quests and Objectives: Complete thrilling quests and missions to gain experience points
                            and unlock new powers.
{#                            Work together with your faction to achieve common goals and dominate the land.#}
                        </li>
{#                        <li>Night and Day Cycle: The game operates on a dynamic night and day cycle. #}
{#                        Vampires are stronger at night, while werewolves gain power during the full moon. #}
{#                        Plan your strategies accordingly to exploit your faction's strengths.</li>#}
                        <li>Player vs. Player (PvP) Battles: Engage in intense real-time PvP
                            battles against players from opposing factions.
                            Show off your combat skills and prove your faction's superiority.</li>
{#                        <li>Collect Artifacts: Discover ancient artifacts and magical items scattered #}
{#                        throughout the land. These artifacts will enhance your abilities and provide an advantage#}
{#                        in battles.</li>#}
{#                        <li>Clan System: Join or create a clan with fellow players to strengthen #}
{#                        your faction's influence. Participate in clan wars and climb the ranks to become#}
{#                        the most powerful clan in the game.</li>#}
                        <li>Explore the Land: Venture into dark forests, treacherous mountains, and haunted ruins.
                            Unravel the mysteries of the land and uncover its secrets.</li>
{#                        <li>Teamwork and Alliances: Forge alliances with players from your faction to create #}
{#                        a formidable force. Coordinate attacks and defend your territory together.</li>#}
{#                        <li>Immortal Struggle: In this everlasting battle between vampires and werewolves, #}
{#                        there are no winners or losers—only eternal rivals seeking supremacy.</li>#}
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Attacking Rules:</h2>
                    <ul role="list">
                        <li>Players can initiate attacks against other players.</li>
                        <li>Each player can attack a specific player up to 10 times per day.</li>
                        <li>After reaching the daily attack limit,
                            players cannot attack the same player until the next day.</li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Hiding Rules:</h2>
                    <ul role="list">
                        <li>Players can choose to hide, making themselves untargetable by attacks.</li>
                        <li>While a player is hiding:
                            <ul role="list">
                                <li>They cannot initiate or receive attacks.</li>
                                <li>They cannot work.</li>
                            </ul>
                        </li>
                        <li>Players can come out of hiding whenever they choose.</li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Working Rules:</h2>
                    <ul role="list">
                        <li>Players can choose to work, earning rewards based on their level and chosen occupation.</li>
                        <li>While a player is working:
                            <ul role="list">
                                <li>They cannot initiate or receive attacks.</li>
                                <li>They cannot hide.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Healing Rules:</h2>
                    <ul role="list">
                        <li>Players have the option to heal themselves to regain lost health points.</li>
                        <li>Healing may take time or require items,
                            and players can only heal up to their maximum health.</li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Leveling Up Rules:</h2>
                    <ul role="list">
                        <li>Players can earn experience points (XP) through various actions, such as winning battles or completing tasks.</li>
                        <li>Gaining a certain amount of XP will result in the player leveling up.</li>
                        <li>Upon leveling up, a player's stats may improve, and they may unlock new abilities or items.</li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Potions and Bonuses Rules:</h2>
                    <ul role="list">
                        <li>Players can use potions and other items to gain temporary bonuses in battles
                            or other activities.</li>
                        <li>These bonuses have a limited duration and may confer advantages such as increased power,
                            defense, or speed.</li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Gold and Currency Rules:</h2>
                    <ul role="list">
                        <li>Players earn gold by winning battles, completing tasks, or engaging in other activities.</li>
                        <li>Gold can be used to purchase items, equipment, and other in-game resources.</li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Fair Play Rules:</h2>
                    <ul role="list">
                        <li>Players are expected to engage in fair play and follow the game's rules.</li>
                        <li>Cheating, exploiting, or abusing game mechanics is strictly prohibited.</li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Communication Rules:</h2>
                    <ul role="list">
                        <li>Respectful and appropriate communication is expected between players.</li>
                        <li>Harassment, bullying, or any form of offensive behavior will not be tolerated.</li>
                    </ul>
                </div>
            </div>

            <div class="slide">
                <div class="description">
                    <h2>Updates and Modifications:</h2>
                    <ul role="list">
                        <li>The game's rules and mechanics may be updated or modified over time
                            to enhance gameplay and balance.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="carousel-buttons">
        <button id="prevBtn">Previous</button>
        <button id="nextBtn">Next</button>
    </div>
    <script src="{% static 'js/landing-page.js' %}"></script>

{% endblock %}