{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <div class="items">
        <div class="item">
            <img class="item-image" src="{% static 'pictures/sword.jpg' %}">
            <a href="#">Swords</a>
        </div>
        <div class="item">
            <img class="item-image" src="{% static 'pictures/shield.jpg' %}">
            <a href="#">Shields</a>
        </div>
        <div class="item">
            <img class="item-image" src="{% static 'pictures/boots.jpg' %}">
            <a href="#">Boots</a>
        </div>
    </div>

{% endblock %}