{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <div class="main-options-inner">
        <div class="market-wrapper-inner">
            <a href="{% url 'item list' 'health_potions' %}">
                <img class="market-image-inner" src="{% static 'pictures/health-potion.png' %}" alt="potions">
            </a>
            <a href="{% url 'item list' 'health_potions' %}">Health Potions</a>
        </div>
        <div class="market-wrapper-inner">
            <a href="{% url 'item list' 'power_potions' %}">
                <img class="market-image-inner" src="{% static 'pictures/power-potion.png' %}" alt="potions">
            </a>
            <a href="{% url 'item list' 'power_potions' %}">Power Potions</a>
        </div>
        <div class="market-wrapper-inner">
            <a href="{% url 'item list' 'defence_potions' %}">
                <img class="market-image-inner" src="{% static 'pictures/defence-potion.png' %}" alt="potions">
            </a>
            <a href="{% url 'item list' 'defence_potions' %}">Defence Potions</a>
        </div>
        <div class="market-wrapper-inner">
            <a href="{% url 'item list' 'speed_potions' %}">
                <img class="market-image-inner" src="{% static 'pictures/speed-potion.png' %}" alt="potions">
            </a>
            <a href="{% url 'item list' 'speed_potions' %}">Speed Potions</a>
        </div>
        <div class="market-wrapper-inner">
            <a href="{% url 'item list' 'swords' %}">
                <img class="market-image-inner" src="{% static 'pictures/sword.jpg' %}" alt="sword">
            </a>
            <a href="{% url 'item list' 'swords' %}">Swords</a>
        </div>
        <div class="market-wrapper-inner">
            <a href="{% url 'item list' 'shields' %}">
                <img class="market-image-inner" src="{% static 'pictures/shield.jpg' %}" alt="shield">
            </a>
            <a href="{% url 'item list' 'shields' %}">Shields</a>
        </div>
        <div class="market-wrapper-inner">
            <a href="{% url 'item list' 'boots' %}">
                <img class="market-image-inner" src="{% static 'pictures/boots.jpg' %}" alt="boots">
            </a>
            <a href="{% url 'item list' 'boots' %}">Boots</a>
        </div>
    </div>

{% endblock %}